@import './variables';
@import './mixins';

.full-button{
    @include border;
    background-color: $mainColor;
    color: $secondaryColor;
    font-family: Trispace;
    padding: 1em 0;
    width: 12em;
    display: inline-block;
    cursor: pointer;
    transition: box-shadow 300ms;

    &:hover{
        box-shadow: 0 0 10px 5px;
    }

    &:active{
        box-shadow: none;
    }
}

.empty-button{
    @include border;
    background-color: white;
    font-family: Trispace;
    font-weight: 600;
    padding: 1em 3em;
    cursor: pointer;
}